body {
    margin: 0 auto;
    font-family: sans-serif;

}


.content__main {
    margin: 0 auto;
    width: 1900px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #313131;;

}

.header__logo {
    padding-left: 5px;
    display: flex;
}

.logo-name {
    font-size: 22px;
    font-weight: 700;
    margin: 0 30px;
    color: #FFFFFF;


}

.nav-menu-li :hover {
    color: #14B9D5;


}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;


}


.nav-menu {
    width: 900px;
    list-style: none;
    display: flex;
    justify-content: space-between;


}


.header__search {
    width: 70px;
    height: 70px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__img {

    background-image: url("../img/header-bg.jpeg");
    background-size: cover;
    /*width: 1900px;*/
    height: 370px;
    background-position: center;
    background-attachment: fixed;


}

.header__img-title {
    margin: 0;
    padding-top: 160px;
    text-align: center;
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 700;

}

.header__btn {
    text-align: center;
    padding-top: 45px;
}

.header_btn-left {
    background: #89CA62;
    color: #FFFFFF;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;


}

.header_btn-right {
    background: #14B9D5;
    color: #FFFFFF;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.container__posts {
    background: #F2F2F2;
    width: 1900px;
    height: 1100px;

}

.posts_title {
    color: #18B4CF;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

.section__posts {

    margin: 0 auto;
    justify-content: space-around;
    /*!*align-content: flex-start;*!*/
    /*align-items: flex-start;*/
    flex-wrap: wrap;
    flex-direction: column;
    height: 900px;
    display: flex;
    width: 1200px;


}

.posts-slide {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: #FFFFFF;
    margin: 30px;
}

.section__clients {
    background-image: url("../img/parallax-bg.jpeg");
    height: 600px;
    color: #FFFFFF;
    background-position: center;
    background-attachment: fixed;


}


.clients-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    text-align: center;
    width: 1200px

}

.client-grid-1 {
    grid-column: span 4;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    margin-top: 120px;
}

.client-grid-2 {
    grid-column: span 4;
    margin-top: 90px;
    margin-bottom: 110px;

}

.slide_foto-title {
    text-align: center;
    font-size: 27px;
    color: #18B4CF;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px;

}


.slide_foto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hotnews-grid {
    margin: 0   auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 1130px;


}



.hotnews-grid-items-1 {
    width: 857px;
    display: flex;
     text-align: right;
    grid-column: span 3;
    background-color: #F2F2F2;



}

.hotnews-grid-items-2{
        background-color: #F2F2F2;
}

.hotnews-grid-items-3 {
    background-color: #F2F2F2;
    text-align: right;
    grid-column: span 2;
    width: 554px;


}

.hotnews-grid-items-4 {
    background-color: #F2F2F2;
    text-align: right;
    grid-column: span 2;
    width: 554px;

}

.hotnews-grid-items-5 {
    background-color: #F2F2F2;
    text-align: right;
    grid-column: span 2;
    width: 554px;
}


.hotnews-grid-items-6 {
    background-color: #F2F2F2;
    text-align: right;
    grid-column: span 2;
    width: 554px;
}


.hotnews-grid-items-7 {
    grid-column: span 1;
    background-color: #F2F2F2;
}

.hotnews-grid-items-8 {
    grid-column: span 3;
    width: 857px;
    display: flex;
    text-align: right;
    background-color: #F2F2F2;
}

.hotnews_text-title{
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

.hotnews-grid-text{
    margin: 20px;
    font-size: 16px;
    font-weight: 400;
}
.hotnews_text-title-centr{
    font-weight: 700;
    text-align: center;

}

.footer{
    margin-top: 50px;
    width: 100%;
    background-color: black;
  }

.footer_grid{
     margin: 0 auto;
    width: 1160px;
    display: grid;
    grid-template-columns: 1fr  1fr

}

.footer_grid-side-1{
    margin-left: 0;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 400;
    padding: 40px 0 40px 0;
}

.footer_grid-side-2 {
    text-align: right;
}

.footer_grid-side-2 img{
margin-top: 40px;
}