* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    /*font-size: 14px;*/
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/


.container {
    margin: 0 auto;
    background-image: url("../img/background.png");
    background-size: cover;
    width: 1366px;
    height: 768px;
    font-family: sans-serif;

}

.header {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    width: 1030px;
    padding-top: 45px;
}

.nav_menu {

    color: white;
}

.nav-title-top {
    font-size: 29px;
    font-weight: 700;

}

.nav-title {
    font-size: 18px;
    font-weight: 700;
}


.nav_menu-logo {
    display: inline-block;
}

.nav_menu :hover {
    color: #F26522;
}

.nav_contact {

    font-size: 18px;
    color: white;

}

.nav_mail a {
    color: white;

}

.nav_tel {
    text-align: right;
    margin-top: 15px;
}

.nav_tel a {
    color: white;
}

.nav_mail a:hover {
    color: #F26522;
}

.nav_tel a:hover {
    color: #F26522;
}

.main {
    margin: 0 auto;
    width: 1030px;
    padding-top: 20px;
}

.main_section {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.main_section p {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.main_price {
    position: relative;
}

.price-hover {
    height: 55px;
    width: 304px;
    /*display: grid;*/
    grid-template-columns: 1fr 1fr;
    color: white;
    background: #F26522;

    position: absolute;

    bottom: 0;

    display: none;

}

.main_price:hover .price-hover {
    display: block;
}


.price-hover-1 {
    font-size: 10px;
    display: block;
    margin-left: 16px;
    padding-top: 10px;
    width: 100%;
}

.price-hover-2 {
    display: inline;

    margin-left: 16px;
    font-size: 20px;
    width: 40px;


}

.price-hover-3 {
    margin-left: 140px;
    display: inline;
    /*margin-right: 16px;*/
    font-size: 14px;


}

.bottom_copyright {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 12px;
}

