body {
    margin: auto 0;
    font-family: sans-serif;
}
.nav-menu {
    margin: auto;
    width: 600px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 25px;
}
.nav-menu-link {
    text-decoration: none;
    color: #FF0000;
}
.main-img {
    background-image: url("../img/image_phone.png");
    background-size: cover;
    height: 789px;
    margin: auto;
}
.main-title {
    text-align: center;
    color: #373737;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 48px;
    letter-spacing: 2px;
}
.main-text {
    padding-top: 28px;
    margin: auto;
    width: 1145px;
    text-align: center;
    line-height: 26px;
    color: #373737;
}
.main-button {
    margin-top: 66px;
    text-align: center;
    margin-bottom: 82px;
}
.main-button-link {
    text-transform: uppercase;
    font-size: 12px;
    background: #FF0000;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 5px;
}
.footer {
}
.footer-copyright {
    display: flex;
    justify-content: center;
    color: #373737;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-left: 600px;
}
